body {
    background: rgb(97, 97, 97);
}

header {
    background:rgb(124, 77, 77);
}

article {
    background:rgb(241, 168, 168);
}

nav {
    background: rgb(206, 206, 206);
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;

}