body {
    background: rgb(0, 0, 0);
    color: white;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    background:rgb(124, 77, 77);
}

#info {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.data {
    position: relative;
    height: 100%;
    margin: auto;
    border: solid;
}

img iframe {
    height: 100%;
    width: 100%;
}

/* h2 {
    font-size: 150%;

} */